@import "tailwindcss";

body{
    overflow: hidden;
}

@theme {
    /* Purple - Màu chủ đạo */
    --color-purple: #9b4de0;
    --color-purple-dark: #7826b4;
    --color-purple-light: #c273ed;
    
    /* Background */
    --color-bg-primary: #170f23;
    --color-bg-secondary: #231b2e;
    --color-bg-tertiary: #2f2739;
    --color-bg-alpha: rgba(23, 15, 35, 0.9);
    
    /* Sidebar */
    --color-sidebar: #231b2e;
    --color-sidebar-hover: #2f2739;
    
    /* Player */
    --color-player-bg: #130c1c;
    --color-player-border: rgba(255, 255, 255, 0.1);
    
    /* Text */
    --color-text-primary: #ffffff;
    --color-text-secondary: rgba(255, 255, 255, 0.5);
    --color-text-placeholder: rgba(255, 255, 255, 0.3);
    
    /* Border */
    --color-border: rgba(255, 255, 255, 0.1);
    --color-border-dark: rgba(0, 0, 0, 0.1);
    
    /* Hover states */
    --color-hover: rgba(255, 255, 255, 0.1);
    --color-hover-purple: rgba(155, 77, 224, 0.1);
    
    /* Accent colors */
    --color-link: #3596f7;
    --color-success: #52c41a;
    --color-warning: #faad14;
    --color-error: #ff4757;
    
    /* Gradients */
    --gradient-primary: linear-gradient(to right, #9b4de0, #c273ed);
    --gradient-dark: linear-gradient(180deg, #740091, #2d1a4d);
}
